* {
    text-align: center;
    font-size: 1.2em;
	text-shadow: 0 0 .5px #79d97d;
}

img {
    margin: 10vh auto 0 auto;
    width: 300px;
    height: 300px;
}

h1 {
    color: #1cbb22;
    font-size: 2.2em;
}

a {
    color: #168d1b;
    text-decoration: none;
    font-weight: bold;
    margin: 0 2.5%;
    font-size: 1.4em;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all .6s;
}

a:hover {
    color: #79d97d;
    -webkit-animation: neon .8s ease-in-out infinite alternate;
    -moz-animation: neon .8s ease-in-out infinite alternate;
    animation: neon .8s ease-in-out infinite alternate; 
}

@-webkit-keyframes neon {
  from {}
  to {
    text-shadow: 0 0 1px #79d97d,
               0 0 2px #4fd154,
               0 0 3px #4fd154,
               0 0 4px #1cbb22,
               0 0 5px #1cbb22,
               0 0 6px #1cbb22;
  }
}

@-moz-keyframes neon {
  from {}
  to {
    text-shadow: 0 0 1px #79d97d,
               0 0 2px #4fd154,
               0 0 3px #4fd154,
               0 0 4px #1cbb22,
               0 0 5px #1cbb22,
               0 0 6px #1cbb22;
  }
}

@keyframes neon {
  from {}
  to {
    text-shadow: 0 0 1px #79d97d,
               0 0 2px #4fd154,
               0 0 3px #4fd154,
               0 0 4px #1cbb22,
               0 0 5px #1cbb22,
               0 0 6px #1cbb22;
  }
}