* {
    text-align: center;
    font-size: 1.2em;
}

img {
    margin: 10vh auto 0 auto;
    width: 300px;
    height: 300px;
}

h1 {
    color: #1cbb22;
    font-size: 2em;
}

a {
    text-decoration: none;
    margin: 0 2.5%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all .4s;
}

a:hover {
    color: #79d97d;
    -webkit-animation: neon 1s ease-in-out infinite alternate;
    -moz-animation: neon 1s ease-in-out infinite alternate;
    animation: neon 1s ease-in-out infinite alternate; 
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 1px #79d97d,
               0 0 2px  #4fd154,
               0 0 3px  #4fd154,
               0 0 4px  #1cbb22,
               0 0 7px  #1cbb22,
               0 0 8px  #1cbb22;
  }
  to {
    text-shadow: 0 0 .5px #79d97d,
               0 0 1px #4fd154,
               0 0 1.5px #4fd154,
               0 0 2px #1cbb22,
               0 0 3.5px #1cbb22,
               0 0 4px #1cbb22;
  }
}

@-moz-keyframes neon {
  from {
    text-shadow: 0 0 1px #79d97d,
               0 0 2px  #4fd154,
               0 0 3px  #4fd154,
               0 0 4px  #1cbb22,
               0 0 7px  #1cbb22,
               0 0 8px  #1cbb22;
  }
  to {
    text-shadow: 0 0 .5px #79d97d,
               0 0 1px #4fd154,
               0 0 1.5px #4fd154,
               0 0 2px #1cbb22,
               0 0 3.5px #1cbb22,
               0 0 4px #1cbb22;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 1px #79d97d,
               0 0 2px  #4fd154,
               0 0 3px  #4fd154,
               0 0 4px  #1cbb22,
               0 0 7px  #1cbb22,
               0 0 8px  #1cbb22;
  }
  to {
    text-shadow: 0 0 .5px #79d97d,
               0 0 1px #4fd154,
               0 0 1.5px #4fd154,
               0 0 2px #1cbb22,
               0 0 3.5px #1cbb22,
               0 0 4px #1cbb22;
  }
}