@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
    font-family: Quicksand, sans-serif;
    font-size: 1em;
    color: #bebebe;
}

body {
    background: #1f1f1f;
}

h1 {
    font-size: 2em;
    color: #168d1b;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

p {
    font-family: Open Sans, sans-serif;
}